<div class="row">
    <h2>Experiencia Laboral</h2>
    <div class="col-lg-11">
        <ul>
            <li><h3>Trabajo1</h3> - <h5>años</h5> </li>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus ipsum saepe debitis. Minima vel libero architecto atque perspiciatis eaque magni reiciendis. Modi, iste ab! Ut similique incidunt dolor repellendus id.</p>
        </ul>
        <ul>
            <li><h3>Trabajo2</h3> - <h5>años</h5> </li>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus ipsum saepe debitis. Minima vel libero architecto atque perspiciatis eaque magni reiciendis. Modi, iste ab! Ut similique incidunt dolor repellendus id.</p>
        </ul>
        <ul>
            <li><h3>Trabajo3</h3> - <h5>años</h5> </li>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus ipsum saepe debitis. Minima vel libero architecto atque perspiciatis eaque magni reiciendis. Modi, iste ab! Ut similique incidunt dolor repellendus id.</p>
        </ul>
        <ul>
            <li><h3>Trabajo4</h3> - <h5>años</h5> </li>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus ipsum saepe debitis. Minima vel libero architecto atque perspiciatis eaque magni reiciendis. Modi, iste ab! Ut similique incidunt dolor repellendus id.</p>
        </ul>
    </div>
</div>

