
 <div class="row">
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" >
   <img src="../../../assets/foto.perfil.jpg" class="img-fluid" id="fotoperfil">
  </div>
  <div  class="col-xs-12 col-sm-4 col-md-4 col-lg-4" id="nombtit" >
     <h3> Alan agustin Arias</h3>
     <p>Full Stack Developer Junior</p>
  </div >
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="Acerca">
    <span>
        <h4>Acerca de mi</h4>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium aliquam consequuntur, vel debitis sint soluta rerum, magni at quibusdam ducimus fuga! Deleniti ratione recusandae eligendi eveniet consequuntur quisquam! Quidem, molestias.</p>
    </span>
  </div>
 
 
