
<div class="row">
    <h1>Hard & Soft skills</h1>
    <div class="text center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
  [title]="' HTML5 '"
  [subtitle]="'porcentaje'"
  [showUnits]="false"
  [percent]="85"
  [radius]="90"
  [outerStrokeWidth]="11"
  [innerStrokeWidth]="100"
  [outerStrokeColor]="'#007A3E'"
  [innerStrokeColor]="'#FFFFFF'"
  [animation]="true"
  [animationDuration]="3000"

     ></circle-progress>
</div>
<div class="text center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [title]="' CSS3 '"
    [subtitle]="'porcentaje'"
    [showUnits]="false"
    [percent]="85"
    [radius]="90"
    [outerStrokeWidth]="11"
    [innerStrokeWidth]="100"
    [outerStrokeColor]="'#007A3E'"
    [innerStrokeColor]="'#FFFFFF'"
    [animation]="true"
    [animationDuration]="3000"
  
       ></circle-progress>
</div>
<div class="text center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [title]="' Java Script '"
    [subtitle]="'porcentaje'"
    [showUnits]="false"
    [percent]="85"
    [radius]="90"
    [outerStrokeWidth]="11"
    [innerStrokeWidth]="100"
    [outerStrokeColor]="'#007A3E'"
    [innerStrokeColor]="'#FFFFFF'"
    [animation]="true"
    [animationDuration]="3000"
  
       ></circle-progress>
</div>
<div class="text center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [title]="' Github '"
    [subtitle]="'porcentaje'"
    [showUnits]="false"
    [percent]="85"
    [radius]="90"
    [outerStrokeWidth]="11"
    [innerStrokeWidth]="100"
    [outerStrokeColor]="'#007A3E'"
    [innerStrokeColor]="'#FFFFFF'"
    [animation]="true"
    [animationDuration]="3000"
  
       ></circle-progress>
</div>
<div class="text center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [title]="'Autodidacta '"
    [subtitle]="'porcentaje'"
    [showUnits]="false"
    [percent]="85"
    [radius]="90"
    [outerStrokeWidth]="11"
    [innerStrokeWidth]="100"
    [outerStrokeColor]="'#007A3E'"
    [innerStrokeColor]="'#FFFFFF'"
    [animation]="true"
    [animationDuration]="3000"
  
       ></circle-progress>
</div>
<div class="text center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [title]="' title '"
    [subtitle]="'porcentaje'"
    [showUnits]="false"
    [percent]="85"
    [radius]="90"
    [outerStrokeWidth]="11"
    [innerStrokeWidth]="100"
    [outerStrokeColor]="'#007A3E'"
    [innerStrokeColor]="'#FFFFFF'"
    [animation]="true"
    [animationDuration]="3000"
  
       ></circle-progress>
</div>
</div>


<!--    []=""  MAqueta de circulos :
<div class="text center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [title]="' title '"
    [subtitle]="'porcentaje'"
    [showUnits]="false"
    [percent]="85"
    [radius]="90"
    [outerStrokeWidth]="11"
    [innerStrokeWidth]="100"
    [outerStrokeColor]="'#007A3E'"
    [innerStrokeColor]="'#FFFFFF'"
    [animation]="true"
    [animationDuration]="3000"
  
       ></circle-progress>   -->